body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3; /* Általános háttérszín */
    margin: 0;
    padding: 0;
    background-image: url('hatterkep.png'); /* Háttérkép URL-je alapértelmezett esetben */
    background-position: center bottom; /* Háttérkép pozíciója: középen alul */
    background-repeat: no-repeat; /* Háttérkép ne ismétlődjön */
    background-size: contain; /* Háttérkép mérete: kitölti a rendelkezésre álló területet */
}

h1, p, select, button, #story {
    margin: 10px auto; /* középre igazítás */
    text-align: center; /* szöveg középre igazítása */
}

#game {
    margin-top: 20px;
    text-align: center; /* gombok középre igazítása */
}

#story {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff; /* Háttérszín */
    color: #333333; /* Szövegszín */
    display: inline-block; /* blokkolás megszüntetése, hogy középre igazítás működjön */
}

select, button {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff; /* Szegélyszín */
    border-radius: 5px;
    background-color: #87ceeb; /* Világoskék gombháttérszín */
    color: #ffffff; /* Szövegszín */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Gombháttérszín, ha ráviszünk */
}

img {
    max-width: 100%; /* Képek max. szélessége 100%-ra állítva */
}

/* Számítógép nézet */
@media (min-width: 769px) {
    body {
        background-image: url('hatterkep.png'); /* Háttérkép URL-je számítógép nézetben */
        background-size: cover; /* Háttérkép mérete: kitölti a teljes ablakot */
    }
}

/* Mobiltelefon nézet */
@media (max-width: 768px) {
    body {
        background-image: url('hatterkep_mobile.png'); /* Háttérkép URL-je mobiltelefon nézetben */
        background-size: cover; /* Háttérkép mérete: kitölti a teljes ablakot */
    }
}
